@model Cap.Domain.Models.Cap.Banco

@{
    ViewBag.Title = "Banco";
}

<h2>Banco</h2>

<div>
    <h4>Banco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumFebraban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFebraban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
