@model IEnumerable<Cap.Domain.Models.Requisicao.ReqRequisicao>

@if (Model.Count() > 0)
{
    <div class="panel panel-info">
        <div class="panel panel-heading">Requisições compradas nos últimos @ViewBag.Dias dias</div>
        <div class="panel-body">
            <table class="table borderless">
                <tr>
                    <th>Situação</th>
                    <th>Fornecedor</th>
                    <th>@Html.DisplayNameFor(model => model.Departamento.Descricao)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.EntregarDia)</th>
                    <th>@Html.DisplayNameFor(model => model.SolicitadoPor)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    string entregarDia = item.EntregarDia.ToShortDateString();
                    <tr class="borderless">
                        <td style="border:none" class="active">
                            @if (item.LogisticaId == null)
                            {
                                @Html.DisplayFor(modelItem => item.Situacao)
                            }
                            else
                            {
                                @:Logística
                            }
                        </td>
                        <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.Pedido.Fornecedor.Fantasia)</td>
                        <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.Departamento.Descricao)</td>
                        <td style="border:none" class="text-center active">@Html.DisplayFor(x => entregarDia)</td>
                        <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.SolicitadoPor.Nome)</td>
                        <td style="border:none" class="active">
                            @if (item.LogisticaId == null)
                            {
                                <a href="/Erp/Pedido/Edit/@item.PedidoId">Ver agendamento financeiro</a>
                            }
                            else
                            {
                                <a href="#" data-id="@item.LogisticaId" class="logistica">Ver logística</a>
                            }
                        </td>
                    </tr>
                    <tr class="borderless">
                        <td style="border:none"></td>
                        <td style="border:none" colspan="5">@{ Html.RenderAction("MaterialRequisicao", "ReqMaterial", new { id = item.Id }); }</td>
                    </tr>
                }
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
            </table>
        </div>
    </div>
}

<script type="text/javascript">

    $('.logistica').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load('/Erp/Logistica/Details/' + id, function () {
            $('#modal').modal('show');
        });
    });

</script>