@model IEnumerable<Cap.Domain.Models.Requisicao.ReqRequisicao>

<div class="panel panel-info">
    <div class="panel panel-heading">Requisições em andamento</div>
    <div class="panel-body">
        <table class="table borderless">
            <tr>
                <th class="text-center">Cotações</th>
                <th>Situação</th>
                <th>@Html.DisplayNameFor(model => model.Departamento.Descricao)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.EntregarDia)</th>
                <th>@Html.DisplayNameFor(model => model.SolicitadoPor)</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                string entregarDia = item.EntregarDia.ToShortDateString();
                int cotacoes = item.CotadoCom.Count();
                int cotados = item.CotadoCom.Where(x => x.Preenchida == true).Count();
                <tr class="borderless">
                    <td style="border:none" class="text-center active">@cotados/@cotacoes</td>
                    <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.Situacao)</td>
                    <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.Departamento.Descricao)</td>
                    <td style="border:none" class="text-center active">@Html.DisplayFor(x => entregarDia)</td>
                    <td style="border:none" class="active">@Html.DisplayFor(modelItem => item.SolicitadoPor.Nome)</td>
                    <td style="border:none" class="active">
                        <a href="/Erp/Requisicao/Editar/@item.Id">Editar</a> |
                        <a href="/Erp/CotacaoFornecedor/Resumo/@item.Id" target="_blank">Mapa</a> |
                        Comprar |
                        <a href="/Erp/Requisicao/Logistica/@item.Id">Logística</a>
                    </td>
                </tr>
                <tr class="borderless">
                    <td style="border:none"></td>
                    <td style="border:none" colspan="5">@{ Html.RenderAction("MaterialRequisicao", "ReqMaterial", new { id = item.Id }); }</td>
                </tr>
            }
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
        </table>
    </div>
</div>