@model IEnumerable<Cap.Domain.Models.Admin.SistemaRegra>

@{
    ViewBag.Title = "Regras do sistema";
}

<h2>Regras do sistema</h2>

<p>
    @*@Html.ActionLink("Nova regra", "Create")*@
    <a href="#" class="new-role">Nova regra</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            <a href="#" class="edit" data-id="@item.Id">Editar</a> |
            <a href="#" class="details" data-id="@item.Id">Detalhes</a> |
            <a href="#" class="delete" data-id="@item.Id">Excluir</a>

        </td>
    </tr>
}

</table>

<div id="modal" class="modal">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.new-role').click(function () {
            $('#modal').load('/Erp/SistemaRegra/Create', function () {
                $('#modal').modal('show');
            });

            $('#modal').on('show.bs.modal', function () {
                $('#Descricao').focus();
            });
        });

        $('.delete').click(function () {

            var id = $(this).attr('data-id');

            $('#modal').load('/Erp/SistemaRegra/Delete/' + id, function () {
                $('#modal').modal('show');
            });
        })

        $('.edit').click(function () {

            var id = $(this).attr('data-id');

            $('#modal').load('/Erp/SistemaRegra/Edit/' + id, function () {
                $('#modal').modal('show');
            });
        });

        $('.details').click(function () {

            var id = $(this).attr('data-id');

            $('#modal').load('/Erp/SistemaRegra/Details/' + id, function () {
                $('#modal').modal('show');
            });
        });
    });

</script>