@model Cap.Domain.Models.Cap.Parcela

@{
    ViewBag.Title = "Details";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Parcela do pedido n<sup>o</sup> @Model.IdPedido</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Vencto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vencto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Moeda.Descricao)
                    @Html.DisplayFor(model => model.Valor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IdPgto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pgto.Descricao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmissaoPre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmissaoPre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NNData)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NNData)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observ)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observ)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Liberado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Liberado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LiberadoPor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LiberadoPor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LiberadoEm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LiberadoEm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CriadoEm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CriadoEm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CriadoPor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CriadoPorUsuario.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LibMaster)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LibMaster)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LibMasterPor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LibMasterPorUsuario.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LibMasterEm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LibMasterEm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ativo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AlteradoPor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AlteradoEm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AlteradoEm)
                </dd>

            </dl>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->