@model IEnumerable<Cap.Domain.Models.Cap.Parcela>

<table class="table table-condensed table-striped top20">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vencto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFpgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liberado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibMaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moeda.Descricao)
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pgto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fpgto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liberado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibMaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @*<a href="@Url.Action("Edit", new { id = item.Id })" title="Editar a parcela"><i class="glyphicon glyphicon-edit"></i></a>*@
                <a href="/Erp/Pedido/Edit/@item.IdPedido" title="Editar a parcela no pedido"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="#" data-id="@item.Id" title="Detalhes da parcela" class="details"><i class="glyphicon glyphicon-info-sign"></i></a>
            </td>
        </tr>
    }

</table>

@if (ViewBag.ValorTotal != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"><strong>Total pesquisa:</strong></div>
            <div class="col-md-2 text-right"><strong>@ViewBag.ValorTotal</strong></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Total pago:</strong></div>
            <div class="col-md-2 text-right"><strong>@ViewBag.ValorPago</strong></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Total à pagar:</strong></div>
            <div class="col-md-2 text-right"><strong>@ViewBag.ValorAPagar</strong></div>
        </div>
    </div>
}

<div class="modal" id="modal">

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".details").click(function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/Erp/Pesquisa/Details?id=" + id, function () {
                $('#modal').modal('show');
            })
        });

        $(".edit").click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/Parcela/Edit?id=' + id, function () {
                $('#modal').modal('show');
            })
        })

    });
</script>