@model Cap.Web.Areas.Erp.Models.PesquisaModel

<div>
    <h4>PesquisaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesquisarPorDataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesquisarPorDataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaiorQue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaiorQue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenorQue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenorQue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPgto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPgto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFPgto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFPgto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cheque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cheque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
