@model IEnumerable<Cap.Domain.Models.Cap.GrupoLucro>

@{
    ViewBag.Title = "Grupos de lucros";
}

<h2>Grupos de lucros</h2>

<p>
    @Html.ActionLink("Novo grupo de lucro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Centros de lucros", "Index", "CentroLucro", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
