@model Cap.Domain.Models.Cap.Socio

@{
    ViewBag.Title = "Sócio";
}

<h2>Sócio</h2>
@Model.Empresa.Razao

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conjuge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conjuge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index", new { idEmpresa = Model.IdEmpresa })
</p>
