@model IEnumerable<Cap.Domain.Models.Cap.Departamento>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <a href="#" id="create">Novo departamento</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            <a href="#" class="edit-departamento" data-id="@item.Id">Editar</a> |
            <a href="#" class="details-departamento" data-id="@item.Id">Detalhes</a> |
            <a href="#" class="delete-departamento" data-id="@item.Id">Excluir</a> |
        </td>
    </tr>
}

</table>

<div class="modal" id="modal">

</div>

<script type="text/javascript">
    
    $('#create').click(function () {
        $('#modal').load('/Erp/Departamento/Create', function () {
            $('#modal').modal('show');
        });
    });

    $('.edit-departamento').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load('/Erp/Departamento/Edit/' + id, function () {
            $('#modal').modal('show');
        });
    });

    $('.details-departamento').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load('/Erp/Departamento/Details/' + id, function () {
            $('#modal').modal('show');
        });
    });

    $('.delete-departamento').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load('/Erp/Departamento/Delete/' + id, function () {
            $('#modal').modal('show');
        });
    });
</script>
