@using System.ComponentModel.DataAnnotations;
@using Cap.Domain.Models.Cap;
@model Cap.Domain.Models.Cap.ContaFinanceira

@{
    ViewBag.Title = "Conta financeira";
}

<h2>Conta financeira</h2>

<p class="alert alert-danger top20">
    Confirma a exclusão desta conta financeira?
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdGrupoFinanceiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoFinanceiro.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConta)
        </dt>

        <dd>
            @{
                var type = typeof(TipoConta);
                var enumAtual = (TipoConta)Model.TipoConta;
                var member = type.GetMember(enumAtual.ToString());
                var attributes = member[0].GetCustomAttributes(typeof(DisplayAttribute), false);
                var name = ((DisplayAttribute)attributes[0]).Name;
            }
            @Html.DisplayFor(t => name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contabiliza)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Contabiliza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", new { id = Model.IdGrupoFinanceiro })
        </div>
    }
</div>
