@model Cap.Domain.Models.Gen.Indice

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Excluir tela</h4>
        </div>
        <div class="modal-body">

            <h4 class="text-danger">Confirma a exclusão deste índice?</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ativo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoPor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlteradoPor)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoEm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlteradoEm)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="button" value="Excluir" data-id="@Model.Id" class="btn btn-default indice-delete" />
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('.indice-delete').click(function () {
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/Erp/Indice/Delete/',
            type: 'POST',
            data: { 'id': id },
            datatype: 'html',
            success: function (data) {
                if (data.success == true) {
                    $('#modal').modal('hide');
                    location.reload(false);
                } else {
                    $('#modal').html(data);
                }
            }
        })
    })

</script>