@model Cap.Domain.Models.Gen.ArquivoMorto

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Arquivo morto</h4>
        </div>
        <div class="modal-body">

            <h4 class="text-danger">Confirma a exclusão desta caixa?</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Caixa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Caixa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DepartamentoId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Departamento.Descricao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Conteudo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Conteudo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Observ)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Observ)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UsuarioId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Usuario.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoEm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlteradoEm)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="button" value="Excluir" id="excluir" data-id="@Model.Id" class="btn btn-danger" />
                    </div>
                }
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#excluir').click(function () {
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/Erp/Arquivo/Delete',
            type: 'POST',
            data: { 'id': id },
            datatype: 'json',
            success: function (result) {
                if (result.success == true) {
                    atualizarPesquisa();
                    $('#modal').load('/Erp/ModalInfo/Index', { 'msg': 'Arquivo excluído' });
                } else {
                    $('#modal').html(result);
                }
            },
            error: function (e) {
                $('#modal').load('/Erp/ModalInfo/Index', { 'msg': e.error });
            }
        });
    });

    function atualizarPesquisa() {

        var form = $('#frmPesquisa');
        $.ajax({
            url: '/Erp/Arquivo/Pesquisar',
            type: 'GET',
            data: form.serialize(),
            datatype: 'json',
            success: function (result) {
                $('#arquivos').html(result);
            }
        });

    };
</script>