@model IEnumerable<Cap.Domain.Models.Gen.ArquivoMorto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Caixa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Caixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observ)
        </td>
        <td>
            <a href="#" data-id="@item.Id" class="editar">Editar</a> |
            <a href="#" data-id="@item.Id" class="detalhes">Detalhes</a> |
            <a href="#" data-id="@item.Id" class="excluir">Excluir</a>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $('.detalhes').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load("/Erp/Arquivo/Details/" + id, function () {
            $('#modal').modal('show');
        });
    });

    $('.editar').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load("/Erp/Arquivo/Edit/" + id, function () {
            $('#modal').modal('show');
        });
    });

    $('.excluir').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load("/Erp/Arquivo/Delete/" + id, function () {
            $('#modal').modal('show');
        });
    });
</script>
