@model Cap.Domain.Models.Cap.Deposito

@{
    ViewBag.Title = "Depósito";
}

<h2>Depósito</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Favorecido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favorecido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poupanca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poupanca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id, pesquisa = (string)ViewBag.Pesquisa }) |
    @Html.ActionLink("Voltar", "Index", new { pesquisa = (string)ViewBag.Pesquisa })
</p>
