@using Cap.Web.Common.Bind;
@model Cap.Domain.Models.Cap.Deposito

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Informações para depósito</h4>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.Hidden("IdPedido", ((int)@ViewBag.IdPedido).ToString())
                    @Html.Hidden("IdParcela", ((int)@ViewBag.IdParcela).ToString())
                    @Html.HiddenFor(model => model.IdEmpresa)
                    @Html.HiddenFor(model => model.Ativo)
                    @Html.HiddenFor(model => model.AlteradoPor)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Favorecido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Favorecido, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                            @Html.ValidationMessageFor(model => model.Favorecido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdBanco, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.SelectBanco(Model.IdBanco)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Agencia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Agencia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Agencia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Conta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Conta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Conta, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Poupanca, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Poupanca)
                                @Html.ValidationMessageFor(model => model.Poupanca, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observ, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Observ, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Observ, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="updateDep" value="Gravar" class="btn btn-primary" />
                            <input type="button" id="deleteDep" value="Desvincular deposito" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#updateDep').click(function () {
        $.ajax({
            url: '/Erp/Deposito/EditIntoModal/',
            type: 'POST',
            data: $(this).closest('form').serialize(),
            datatype: 'json',
            success: function (data) {
                if (data.success == true) {
                    $('#modal').modal('hide');
                } else {
                    alert(data.error);
                }
            },
            error: function (e) {
                alert(e.error);
            }
        })
    });

    $('#deleteDep').click(function () {
        var idParcela = $('#IdParcela').val();
        $.ajax({
            url: '/Erp/Deposito/CancelDepIntoModal/',
            type: 'POST',
            data: { 'idParcela': idParcela },
            dattype: 'json',
            success: function (data) {
                if (data.success == true) {
                    $('#modal').modal('hide');
                    $('#parcelas').load('/Erp/Parcela/Parcelas?idPedido=' + $('#IdPedido').val());
                } else {
                    alert(data.error);
                }
            },
            error: function (e) {
                alert(e.error);
            }
        });
    });
</script>