@using Cap.Web.Common.Bind;
@model Cap.Domain.Models.Cap.Parcela

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Alterar Parcela</h4>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IdPedido)
                    @Html.HiddenFor(model => model.IdEmpresa)
                    @Html.HiddenFor(model => model.NNData)
                    @Html.HiddenFor(model => model.NNPor)
                    @Html.HiddenFor(model => model.IdFpgto)
                    @Html.HiddenFor(model => model.AlteradoPor)
                    @Html.HiddenFor(model => model.CriadoEm)
                    @Html.HiddenFor(model => model.CriadoPor)
                    @Html.HiddenFor(model => model.ContaId)
                    @Html.HiddenFor(model => model.Cheque)
                    @Html.HiddenFor(model => model.BaixadoEm)
                    @Html.HiddenFor(model => model.BaixadoPor)
                    @Html.HiddenFor(model => model.DataCaixa)
                    @Html.HiddenFor(model => model.CompBanco)
                    @Html.HiddenFor(model => model.CompBancoData)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Vencto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input value="@Model.Vencto.ToString("dd/MM/yyyy")" name="Vencto" id="Vencto" class="form-control datepicker" />
                            @Html.ValidationMessageFor(model => model.Vencto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.SelectMoeda(Model.IdMoeda)
                            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdPgto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.SelectPgto(Model.IdPgto)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmissaoPre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmissaoPre, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.EmissaoPre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Observ, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Observ, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Observ, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Ativo)
                                @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlteradoPor, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Usuario.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AlteradoEm, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.AlteradoEm, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Gravar" id="alterarparcela" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

    $("#alterarparcela").click(function () {
        var self = $(this);
        $.ajax({
            url: '/Erp/Parcela/Edit',
            type: 'POST',
            data: self.closest('form').serialize(),
            success: function (data) {
                if (data.success == true) {
                    $('#modal').modal('hide');
                    location.reload(false);
                } else {
                    $('#modal').html(data);
                }
            }
        });
    });

</script>