@model IEnumerable<Cap.Domain.Models.Cap.Parcela>

<p>
    <a href="#" id="incluirParcela" data-id="@ViewBag.IdPedido">Incluir parcelas</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vencto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFpgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liberado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibMaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vencto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moeda.Descricao)
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pgto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fpgto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liberado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            <button class="btn btn-default details" data-id="@item.Id"><i class="glyphicon glyphicon-file"></i></button>
            <button class="btn btn-danger delete" data-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></button>
            <button class="btn btn-primary edit" data-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></button>
        </td>
    </tr>
}

</table>

<div class="modal" id="modal">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#incluirParcela").click(function () {
            var idPedido = $(this).attr("data-id");
            $("#modal").load("/Erp/Parcela/ParcelaAdiciona?idPedido=" + idPedido, function () {
                $("#modal").toggle();
            });

            $('#modal').on('shown.bs.modal', function () {
                $('#Valor').focus();
            })
        });

        //$("#gravarParcelas").click(function () {
        //    var idPedido = $("#IdPedido").val();
        //    $("#parcelas").load("/Erp/Parcela/AdicionarParcelas?idPedido=" + idPedido, function () {
        //        $("#modal").toggle();
        //    });

        //    $('#modal').on('shown.bs.modal', function () {
        //        $('#Valor').focus();
        //    })
        //});

    });
</script>