@model IEnumerable<Cap.Domain.Models.Cap.Parcela>

<p>
    <a href="#" id="incluirParcela" data-id="@ViewBag.IdPedido">Incluir parcelas</a>
</p>
<table class="table table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vencto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFpgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liberado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibMaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vencto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moeda.Descricao)
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            <span class="glyphicon glyphicon glyphicon-ok text-info" aria-hidden="true" style="visibility:@(item.Pago == true ? "visible" : "hidden") "/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pgto.Descricao)
            @if (item.Pgto.Descricao == "DEPOSITO" || item.Pgto.Descricao == "DEPÓSITO")
            {
                if (item.IdDeposito != null)
                {
                    <a href="#" class="deposito" data-id="@item.Id" title="Informações do depósito"><i class="glyphicon glyphicon-info-sign"></i></a>
                }
                else
                {
                    if (item.Pago == false)
                    {
                        <a href="#" class="depositoAdd" data-id="@item.Id" title="Adicionar informações para depósito"><i class="glyphicon glyphicon-plus"></i></a>
                    }
                    else
                    {
                        <a href="#" class="depositoInfo" data-id="@item.Id" title="Informações sobre conta utilizada para depósito"><i class="glyphicon glyphicon-info" style="color:#808080"></i></a>
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fpgto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liberado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>            
            @{ 
                // TODO: se ja foi pago nao permite exclusao (basta adicionar disabled na tag)
                // se ja foi liberado....
            }
            <a href="#" class="details" data-id="@item.Id" title="Detalhes"><i class="glyphicon glyphicon-file"></i></a>
            <a href="#" class="edit" data-id="@item.Id" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="#" class="delete" data-id="@item.Id" title="Excluir"  style="visibility:@(item.Pago == true ? "hidden" : "visible")"><i class="glyphicon glyphicon-trash text-danger"></i></a>
        </td>
    </tr>
}

</table>

<div>
    <strong>Total agendado: @ViewBag.ValorTotal</strong>
</div>

<div class="modal" id="modal">

</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        $("#incluirParcela").click(function () {
            var idPedido = $(this).attr("data-id");
            $("#modal").load("/Erp/Parcela/Create?idPedido=" + idPedido, function () {
                $("#modal").modal('show');
            });

            $('#modal').on('shown.bs.modal', function () {
                $('#Valor').focus();
            })
        });

        $(".delete").click(function () {
            var idParcela = $(this).attr("data-id");
            $("#modal").load("/Erp/Parcela/Delete?id=" + idParcela, function () {
                $("#modal").modal('show');
            });
        });

        $(".details").click(function () {
            var idParcela = $(this).attr("data-id");
            $("#modal").load("/Erp/Parcela/Details?id=" + idParcela, function () {
                $("#modal").modal('show');
            });
        });

        $(".edit").click(function () {
            var idParcela = $(this).attr("data-id");
            $("#modal").load("/Erp/Parcela/Edit?id=" + idParcela, function () {
                $("#modal").modal('show');
            });
        });

        $('.deposito').click(function () {
            var id = $(this).attr('data-id');
            $("#modal").load("/Erp/Deposito/EditIntoModal?idParcela=" + id, function () {
                $("#modal").modal("show");
            });
        });

        $('.depositoAdd').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/Deposito/CreateIntoModal?idPedido=0&numParcelas=0&idParcela=' + id, function () {
                $('#modal').modal('show');
            });
        });

        $('.depositoInfo').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/Deposito/InfoIntoModal?idParcela=' + id, function () {
                $('#modal').modal('show');
            });
        });
    });
</script>