@using Cap.Web.Common.Bind;
@model Cap.Domain.Models.Cap.PesquisaModel

@{
    ViewBag.Title = "Index";
}

<h3>AGENDAMENTOS FUTUROS</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline top20">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NF)
        @Html.HiddenFor(model => model.PesquisarPorDataPagamento)
        @Html.HiddenFor(model => model.MaiorQue)
        @Html.HiddenFor(model => model.MenorQue)
        @Html.HiddenFor(model => model.Valor)
        @Html.HiddenFor(model => model.IdFPgto)
        @Html.HiddenFor(model => model.NN)
        @Html.HiddenFor(model => model.IdPedido)
        @Html.HiddenFor(model => model.IdConta)
        @Html.HiddenFor(model => model.IdBanco)
        @Html.HiddenFor(model => model.Cheque)

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.IdDepartamento, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.SelectDepartamento(0, true)
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.IdFornecedor, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.SelectFornecedor(0, true)
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.IdPgto, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.SelectPgto(0, true)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Inicial, htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Inicial, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Inicial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Final, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Final, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Final, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Observ, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Observ, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Observ, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 top20">
            <div class="col-md-10">
                <input type="button" id="pesquisar" value="Pesquisar" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br /><br />
}

<div id="parcelas" class="top20">

</div>
<script type="text/javascript">

    $(function () {

        $('#pesquisar').click(function () {
            $.ajax({
                url: '@Url.Action("Pesquisar", "Debitos")',
                type: 'GET',
                data: $(this).closest('form').serialize(),
                datatype: 'application/json; charset=utf-8',
                success: function (result) {
                    $('#parcelas').html(result);
                    $('#parcelas').show();
                }
            })
        });
    });
</script>
