@model IEnumerable<Cap.Domain.Models.Admin.SistemaTela>

@{
    ViewBag.Title = "Telas do sistema";
}

<h2>Telas do sistema</h2>

<p>
    <a href="#" class="create-tela">Nova tela</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TextoMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TextoMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Menu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            <a href="#" class="edit-tela" data-id="@item.Id">Editar</a> |
            <a href="#" class="details-tela" data-id="@item.Id">Detalhes</a> |
            <a href="#" class="delete-tela" data-id="@item.Id">Excluir</a> |
            @Html.ActionLink("Regras", "Index", "TelaRegra",new { idTela = item.Id }, null)
        </td>
    </tr>
}

</table>

<div class="modal" id="modal">

</div>

<script type="text/javascript">

    $(function () {

        $('.create-tela').click(function () {
            $('#modal').load('/Erp/SistemaTela/Create', function () {
                $('#modal').modal('show');
            });
        });

        $('.edit-tela').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/SistemaTela/Edit/' + id, function () {
                $('#modal').modal('show');
            });
        });

        $('.details-tela').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/SistemaTela/Details/' + id, function () {
                $('#modal').modal('show');
            });
        });

        $('.delete-tela').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/SistemaTela/Delete/' + id, function () {
                $('#modal').modal('show');
            });
        });
    });
</script>
