@model IEnumerable<Cap.Domain.Models.Gen.IndVariacao>
<hr />
<h4 class="top20">
    @ViewBag.Indice
</h4>

<p class="top20">
    <a href="#" id="incluir-variacao" data-id="@ViewBag.IdIndice">Incluir variação</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataVariacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdIndice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVariacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div class="modal" id="modal"></div>

<script type="text/javascript">

    $(function () {

        $('#incluir-variacao').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/IndVariacao/Create?IdIndice=' + id, function () {
                $('#modal').modal('show');
            });
        });
    });

</script>
