@model IEnumerable<Cap.Domain.Models.Gen.IndVariacao>

<p>
    <a href="#" id="variacao-create" data-id="@ViewBag.IdIndice">Nova variação</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdIndice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVariacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdIndice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVariacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlteradoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlteradoEm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(function () {

        $('#variacao-create').click(function () {
            var id = $(this).attr('data-id');
            $('#modal').load('/Erp/IndVariacao/Create?idIndice=' + id, function () {
                $('#modal').modal('show');
            })
        });

    });
</script>
