@model IEnumerable<Cap.Domain.Models.Cap.Parcela>

<div class="panel panel-info">
    <div class="panel-heading">Parcelas à pagar <span id="valorSelecionado"></span></div>
    <div class="panel-body" style="min-height:400px; max-height:400px;">
        <table class="table table-striped">
            <tr>
                <th>
                    Selecione
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pedido.IdFornecedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vencto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdMoeda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPgto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pedido.IdDepartamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NN)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" id="selecionado" name="selecionado" data-valor="@item.Valor" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pedido.Fornecedor.Fantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vencto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moeda.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pgto.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pedido.Departamento.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NN)
                    </td>
                    <td>
                        <a href="#" data-id="@item.Id" title="Detalhes da parcela" class="details"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="/Erp/Pedido/Edit/@item.Pedido.Id" title="Editar a parcela no pedido"><i class="glyphicon glyphicon-edit"</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    
    $('input:checkbox').click(function () {
        var total = 0;
        $('input:checked').each(function () {
            var valor = parseFloat($(this).attr('data-valor'));
            total += valor;
        });
        if (total == 0) {
            $('#valorSelecionado').html('');
        } else {
            $('#valorSelecionado').html('- valor selecionado: ' + total);
        }
    });

    $('.details').click(function () {
        var id = $(this).attr('data-id');
        $('#modal').load('/Erp/Pesquisa/Details?id=' + id, function () {
            $('#modal').modal('show');
        });
    });

</script>