@model Cap.Domain.Models.Requisicao.CotacaoFornecedor

<h3>Itens à cotar</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RequisicaoId)
        @Html.HiddenFor(model => model.FornecedorId)
        @Html.HiddenFor(model => model.CotDadosCotacao.Id)

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>QUANTIDADE</th>
                    <th>UNIDADE</th>
                    <th>MATERIAL</th>
                    <th>PREÇO UNITÁRIO</th>
                    <th>OBSERVAÇÕES</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.CotCotacao.Count(); i++)
                {
                    <tr>
                        <td>@Model.CotCotacao[i].ReqMaterial.Qtde</td>
                        <td>@Model.CotCotacao[i].ReqMaterial.Material.Unidade.Descricao</td>
                        <td>@Model.CotCotacao[i].ReqMaterial.Material.Descricao</td>
                        <td>
                            @Html.TextBox("CotCotacao[" + i + "].Preco", Model.CotCotacao[i].Preco, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(model => model.CotCotacao[i].Preco, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextBox("CotCotacao[" + i + "].Observ", Model.CotCotacao[i].Observ, new { @class = "form-control" })
                            @Html.Hidden("CotCotacao[" + i + "].Id", Model.CotCotacao[i].Id)
                            @Html.Hidden("CotCotacao[" + i + "].ReqRequisicaoId", Model.CotCotacao[i].ReqRequisicaoId)
                            @Html.Hidden("CotCotacao[" + i + "].FornecedorId", Model.CotCotacao[i].FornecedorId)
                            @Html.Hidden("CotCotacao[" + i + "].ReqMaterialId", Model.CotCotacao[i].ReqMaterialId)

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="row top20">
            <h3>Condições de pagamento</h3>
        </div>

        @Html.HiddenFor(model => model.CotDadosCotacao.Id)
        @Html.HiddenFor(model => model.CotDadosCotacao.CotCotadoComId)
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Contato, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Contato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Contato, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Condicao, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Condicao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Condicao, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.PrevisaoEntrega, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.PrevisaoEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.PrevisaoEntrega, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Validade, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Validade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Validade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Frete, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Frete, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Frete, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Imposto, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Imposto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Imposto, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.CotDadosCotacao.Observ, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CotDadosCotacao.Observ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CotDadosCotacao.Observ, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row top20">
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>
    </div>
}
