@model Cap.Domain.Models.Requisicao.CotGrupo

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Excluir grupo de cotação</h4>
        </div>
        <div class="modal-body">

            <h4 class="text-danger">Confirma a exclusão deste grupo de cotação?</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EmpresaId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmpresaId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ativo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoEm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlteradoEm)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UsuarioId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UsuarioId)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" id="delete-grupo" data-id="@Model.Id" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

    $('#delete-grupo').click(function () {
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/Erp/GrupoCotacao/Delete/',
            type: 'POST',
            data: { 'id': id },
            success: function (result) {
                if (result.success == true) {
                    $('#modal').modal('hide');
                    location.reload(false);
                } else {
                    $('#modal').html(result);
                }
            },
            error: function (e) {
                $('#modal').html(e);
            }
        });
    });

</script>