@model IEnumerable<Cap.Domain.Models.Cap.Parcela>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vencto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMoeda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPgto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriadoPor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vencto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moeda.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pgto.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liberado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiberadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiberadoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriadoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibMasterPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibMasterEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlteradoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlteradoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
