@model IEnumerable<Cap.Domain.Models.Cap.Grafico>

<p>
    @{
        var myChart = new Chart(width: 600, height: 400)
           .AddTitle("Employees")
           .AddSeries(chartType: "column",
              xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
              yValues: new[] { "2", "6", "4", "5", "3" })
           .Write();
    }
    @{ 
        var grafico = new Chart(800, 600)
            .AddTitle("Vencimentos futuros")
            .AddSeries(
            name: "Vencimentos",
            xValue: Model.Select(x => x.Dia).ToArray(),
            yValues: Model.Select(x => x.Valor).ToArray())
            .Write();
    }
</p>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feriado)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feriado)
        </td>
    </tr>
}

</table>*@
