@model Cap.Domain.Models.Requisicao.ReqAutorizante

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Autorizante</h4>
        </div>
        <div class="modal-body">

            <h4 class="text-danger">Confirma a exclusão deste autorizante?</h4>

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UsuarioId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Autorizante.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoPor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Usuario.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlteradoEm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AlteradoEm)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="button" value="Excluir" id="excluir" data-id="@Model.Id" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script src="~/Scripts/js/show-message.js"></script>
<script type="text/javascript">
    $('#excluir').click(function () {
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/Erp/ReqAutorizante/Delete',
            type: 'POST',
            data: { 'id': id},
            datatype: 'json',
            success: function (result) {
                if (result.success == true) {
                    $('#modal').modal('hide');
                    location.reload(false);
                } else {
                    $('#modal').html(result);
                }
            },
            error: function (e) {
                $('#modal').modal('hide');
                ShowMessage(e.error);
            }
        });
    });
</script>